.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
outputs/
MNIST/
generated_images/
generated_images_simple/
checkpoints
model.ckpt
model.pth
black.toml
requirements.txt
imgs
models*
.vscode

```

#mlflow
```
mlruns/
```

#data
```
data/
img_align_celeba/
```

#outputs
```
generated_images*
```
